<div data-section-id="{{ section.id }}" data-section-type="section-banner-v12" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v12 {% if section.settings.ena_padding_top %} padding_top_banner5 {% endif %}" style="background-image: url({% if section.settings.img_bg != blank %}{{section.settings.img_bg|img_url:'master'}}{% else %}//via.placeholder.com/1920x550{% endif %});">
    <div class=" container container-v2">
      <div class="row" style=" display: flex; align-items: center;"> 
        <div class="col-12">
          <div class="heading text-center">
            {% if section.settings.sub_title_heading != blank %}
            <p class="sub-heading" style="color: {{section.settings.color_sub_heading}}">{{section.settings.sub_title_heading}}</p>
            {% endif %}
            {% if section.settings.title_heading != blank %}
            <h3 class="title-heading" style="color: {{section.settings.color_heading}}">{{section.settings.title_heading}}</h3>
            {% endif %}
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 p-0 image">
          <div class="image-banner">
            {% if section.settings.img_banner != blank %}
            <img data-src="{{section.settings.img_banner | img_url : 'master'}}" class="lazyload img-fluid w-100" alt >
            {% else %}
            <img data-src="//via.placeholder.com/740x480" class="lazyload img-fluid w-100" alt>
            {% endif %}
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 js_banner_v12 p-0">
          {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
          {% if block.type == 'banner' %}
          <div class="content-banner" style="background: {{block.settings.bg_section}}">
            {% if block.settings.sub_title != blank %}
            <p class="sub-title-heading" style="color: {{block.settings.color_sub_title_heading}}">{{block.settings.sub_title}}</p>
            {% endif %}
            {% if block.settings.title_banner != blank %}
            <h3 class="title-banner" style="color: {{block.settings.color_title}}">{{block.settings.title_banner}}</h3>
            {% endif %}
            {% if block.settings.sub_title_banner != blank %}
            <p class="sub-title" style="color: {{block.settings.color_sub_title}}">{{block.settings.sub_title_banner}}</p>
            {% endif %}
            <div class="button-banner">
              {% if block.settings.button_banner != blank %}
              <a href="{{block.settings.url_banner}}" class="button-shop button-shop-{{block.id}}" title="">{{block.settings.button_banner}}</a>
              {% endif %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  {% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
  {% if block.type == 'banner' %}
  .section-banner-v12 .content-banner .button-shop-{{ block.id }} {
    color: {{block.settings.color_btn}};
    background: {{block.settings.bg_btn}};
    border: 1px solid {{block.settings.color_border_button}};
  }
  .section-banner-v12 .content-banner .button-shop-{{ block.id }}:hover {
    color: {{block.settings.color_btn_hover}};
    background:{{block.settings.bg_hover_btn}};
    border-color: {{block.settings.bg_hover_btn}} ;
  }
  {% endif %}
  {% endfor %}
  {% endif %}
</style>
{% schema %}
{
"name": "BANNER V12",
"settings": [
    {
      "type": "checkbox",
      "id": "ena_padding_top",
      "label": "Enable Add Padding Top",
      "default": false
    },
  	{
      "type": "image_picker",
      "id": "img_bg",
      "info": "1920 x 550px recommended",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "sub_title_heading",
      "label": "Sub Title Heading",
      "default": "Handcrafted"
    },
    {
      "type": "color",
      "id": "color_sub_heading",
      "label": "Color Sub Heading",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "title_heading",
      "label": "Title Heading",
      "default": "Decor & Furniture"
    },
    {
      "type": "color",
      "id": "color_heading",
      "label": "Color Heading",
      "default": "#000"
    },
    {
      "type": "image_picker",
      "id": "img_banner",
      "label": "Image Banner",
      "info": "740 x 480px recommended"
    }
  ],
  "blocks": [
      {
        "type": "banner",
        "name": "Item banner v1",
        "settings": [
        {
          "type": "color",
          "id": "bg_section",
          "label": "Bacground Section",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title Heading",
          "default": "OUR ABOUT US"
        },
        {
          "type": "color",
          "id": "color_sub_title_heading",
          "label": "Color Sub Title Heading",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "title_banner",
          "label": "Title Banner",
          "default": "Decor & Furniture"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Color Title banner",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "sub_title_banner",
          "label": "Sub Title Banner",
          "default": "Handcrafted furniture, artisanal rugs, wallpaper, classic vases, and lighting accessories—well-made and carefully considered—whether made by Heath or by like-minded makers we admire. Welcome in."
        },
        {
          "type": "color",
          "id": "color_sub_title",
          "label": "Color Sub Title banner",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "button_banner",
          "label": "Button Banner 1",
          "default": "SHOP NOW"
        },
        {
          "type": "color",
          "id": "color_btn",
          "label": "Color button banner",
          "default": "#222"
        },
        {
          "type": "color",
          "id": "bg_btn",
          "label": "Background Color button banner",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_border_button",
          "label": "Color Border",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "bg_hover_btn",
          "label": "Background Color button banner",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_btn_hover",
          "label": "Color button banner Hover",
          "default": "#fff"
        }
      ]
     }
  ],
  "presets": [
    {
      "name": "BANNER V12",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
